*
{
    margin: 0;
    padding: 0;
}
.color0
{
    background-color: #005CB4;
}
.colorblue
{
    transition: 1s;
    background-color: #005CB4;

}
.colorblack
{
    background-color: #000;
    transition: 1s;

}
.colorred
{
    background-color: #C9002B;
    transition: 1s;

}
@media(max-width:768px)
{
    div .logo
    {
       display: flex;
       justify-content: center;
    }
}
div .logo
{
    position: relative;
    margin-top:.5em;
}
div .nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
div .nav a
{
    color:white;
    text-decoration: none;
    padding:5px;
    margin-right: 1.5em;
}
@media(max-width:576px)
{
    div .nav
    {
        width:110%;
        display: flex;
        justify-content: center;
        align-items: center;
    margin-right: 0em;
    margin-top: 2em;
    }
    div .nav a
    {
        color:white;
        text-decoration: none;
        padding:0px 5px 0px 5px;
    margin-right:0em;
    border-right: 1px solid white;
    }   
    div .nav a:nth-child(5)
    {
        border-right:none;
    }
}
div .nav a:hover
{
    transform:translateY(5px);
    transition: .5s;
    opacity: .7;
}
div .swaping
{
    position: relative;
    top:2vw;
    display: flex;
    flex-direction: row-reverse;
}
@media(max-width:992px)
{
    div .swaping
    {
        position: relative;
        top:0vw;
    }   
}
div .text-align
{
    color:white;
    margin-top:2em;
}
div .Heading h1
{   
    font-size:4em;
    font-weight: 900;
}
div .Product-Detail
{
    font-size:1.2em;
    font-weight: 600;
}
#product-details
{
    color:black;
    background: white;
    text-decoration: none;
    padding:8px 10px 8px 10px;
    border-radius: 20px;
    font-size:.9em;
    font-weight: 700;
}
#product-details:hover
{
    opacity:.8;
    transition: .5s;
}
div .product-img
{
    margin-top:-.5em;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
div .product-img img
{
    width:40%;
}
div .product-type
{
    margin-top:1em;
    margin-bottom: 3em;
}
@media(max-width:768px)
{
    div .product-img
{
    margin-top:2em;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

    div .product-type
{
    margin-top:2em;
    margin-bottom: 3em;
}
}

@media(max-width:576px)
{
    div .product-type
    {
        margin-top:3em;
        margin-bottom: 3em;
    }   
}
div .img-small
{
    position: relative;
    width:80%;
    transition: .5s;
}
div .img-small img
{
    max-width:100%;
    height: auto;
}
div .img-small:hover
{   
    transform: translateY(-10px);
    position: relative;
    transition: 1s;
    width:80%;
}
